h1,
h2,
h4,
h5,
h6 {
  font-family: $font__headers;
  font-weight: 400;
  clear: both;
}

h3 {
  font-family: $font__main;
  font-weight: 600;
  @include breakpoint-up(large) {
    font-size: 1.375rem;
  }
}

h1 {
  font-size: 3rem;

  &.entry-title {
    font-size: 1.5rem;

    @include breakpoint-up(large) {
      font-size: 4rem;
    }
  }

  @include breakpoint-up(large) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.5rem;

  @include breakpoint-up(large) {
    font-size: 3rem;
  }
}

.single {
  @include breakpoint-up(large) {
    h2 {
      font-size: 2rem;
    }
  }
}
