html {
  scroll-behavior: smooth;
}

.main-navigation {
  display: block;
  width: 100%;

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          display: block;
          left: auto;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    position: relative;
    padding-left: 2rem;

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
    border-bottom: 3px solid $color__darkgreen;
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }
}

.nav-links {
  display: flex;
  padding-bottom: 3.5rem;

  @include breakpoint-down(medium) {
    justify-content: space-between;
  }
}

.nav-previous {
  margin-right: auto;
  max-width: 50%;
  flex: 1 0 50%;

  @include breakpoint-down(small) {
    max-width: 10rem;
  }
}

.nav-next {
  margin-left: auto;
  text-align: end;
  flex: 1 0 50%;
  max-width: 50%;

  @include breakpoint-down(small) {
    max-width: 10rem;
  }
}

.nav-title {
  font-size: 0.9rem;

  @include breakpoint-up(medium) {
    font-size: 1.125rem;
  }
}

.nav-image {
  img {
    display: none;

    @include breakpoint-up(medium) {
      display: inline;
      width: 70%;
      padding-top: 1rem;
    }
  }
}

.totop {
  text-align: center;
  font-size: 1.5rem;

  @include breakpoint-up(medium) {
    font-size: 2rem;
  }

  a {
    text-decoration: none;
  }

  &__arrow {
    padding: 1rem;
  }
}
